VITE_SUPABASE_URL=https://tpiphbgpuambryqikncp.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwaXBoYmdwdWFtYnJ5cWlrbmNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0OTEyNTksImV4cCI6MjA5NDA2NzI1OX0.RHKALFMgxvwFX7wtQVjtjPx8eS9UmrNwpr6XEI14UE4